@model MVC.Models.SupplierView

@{
    ViewBag.Title = "Proveedores";
}

<h1>Vista para insertar</h1>

@using (Html.BeginForm("InsertUpdate", "Supplier", FormMethod.Post))
{
    <ul>
        <li><label>Nombre Proveedor: </label>@Html.TextBoxFor(s => s.NombreSupplier)</li>
        <li><label>Nombre Compañia: </label>@Html.TextBoxFor(c => c.CompaniaSupplier)</li>
    </ul>

    <input type="submit" class="btn btn-success" value="guardar" />
 }
